* {
    box-sizing: border-box
}

.grid-MAIN {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

body {
    background-image: url('assets/drums.jpg');
}

.container {
    background-color: #ddd;
    padding: 10px;
    margin: 0 auto;
    max-width: 500px;
}

button:hover {
    border: 5px solid cyan;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
}

button:active {
    border: 5px solid black;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
}

button {
    font-family: 'Comic-Sans';
    font-weight: bold;
    font-size: 40px;
    transition: all 0.2s ease-in-out;
    border-radius: 10px;
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
}

button:after {
    transform: scale(1.1);
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {
    padding: 40px;
    font-size: 40px;
    text-align: center;
}